:root {
  --ion-color-primary: #3880ff;
  --input-bg-color: #f8f9fa;
  --input-border-color: #d1d5db;
  --input-focus-ring: #3b82f6;
  --label-color: #374151;
  --label-color-dark: #d1d5db;
  --warning-background-color: #fff3cd;
  --warning-text-color: #856404;
  --link-color: #0065b2;
  --link-hover-color: #64b5f6;
  --ion-text-success: #155724;
  --ion-text-success-border-left: #24d354;
  --ion-background-success: #d4edda;
  --ion-alert-background: #64b5f6;
  --ion-alert-border-color: black;
  --ion-alert-radio-selected: #0065b2;
  --ion-alert-radio-not-selected: black;
  --ion-alert-text-color: black;
}

body {
  background-color: #f3f4f6;
}
