<ion-content>
  <app-layout>
    <div class="form-container">
      <h1 class="ion-text-center text-xl md:text-3xl font-semibold mb-8">
        {{'TITLE' | translate}}
      </h1>

      <div class="main-layout">
        <!-- Patient Form -->
        <app-patient-form
          (formSubmitted)="handleFormSubmission($event)"
          [isSubmitting]="isSubmitting"
        >
        </app-patient-form>

        <!-- Prediction Results -->
        <app-prediction-results
          *ngIf="showResults"
          [predictionData]="predictionData"
          [showDetails]="showResultsDetails"
          [showSuccess]="showSuccessMessage"
          (toggleDetails)="toggleDetails()"
          (toggleReporting)="toggleReporting()"
        >
        </app-prediction-results>

        <!-- Reporting Form -->
        <app-reporting-form
          *ngIf="showReportingDetails"
          [showSuccess]="showSuccessMessage"
          (formSubmitted)="handleReportingSubmission($event)"
        >
        </app-reporting-form>
      </div>
    </div>
  </app-layout>
</ion-content>
